/* ============ Google Font ============ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-body: #212428;
    --red-color: #ff024f;
    --gray-text: #c8d2e1;
    --box-shadow: 8px 8px 10px #181a1d,
        -8px -8px 10px #2a2e33;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-body);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* =========== Basic ============== */
.container {
    max-width: 80%;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 5rem;
    border-bottom: 2px solid #1c1e22;
}

section {
    margin-top: 60px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    cursor: pointer;
    padding: .7rem 2rem;
    border-radius: .5rem;
}

.section-title {
    margin-bottom: 3rem;
}

.section-title span {
    color: var(--red-color);
    font-size: .8rem;
    text-transform: uppercase;
}

.section-title h1 {
    color: var(--gray-text);
    font-size: 3rem;
}

/* ============ header ============ */
header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
}

header.header-scroll {
    background-color: #191c20;
    box-shadow: var(--box-shadow);
}

header .nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-block: 1.5rem;
}

.typed-cursor {
    font-size: 2.5rem;
}

header .nav .logo {
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.toggle-menu,
.close-menu {
    display: none;
}

.nav-list {
    display: flex;
    gap: 1.8rem;
}

.nav-list .nav-item {
    transition: .3s;
    padding-block: .3rem;
    display: flex;
    align-items: center;
}

.nav-list .nav-item .nav-link {
    color: #fff;
    text-transform: uppercase;
    color: var(--gray-text);
    transition: .3s;
    font-size: .9rem;
}

.nav-list .nav-item:hover .nav-link,
.nav-list .nav-item.active .nav-link {
    color: #fff;
}

.nav-list .nav-link.btn {
    color: var(--red-color);
    box-shadow: var(--box-shadow);
}

/* ============ Main ============= */
/* ========= home ========= */
.home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.home .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-bottom: 0;
}

.home .container .left,
.home .container .right {
    width: 50%;
}

.text-home {
    font-size: .9rem;
    color: var(--gray-text);
    letter-spacing: 1.3;
}

.home-title {
    font-size: 4rem;
    color: #fff;
    margin-top: 1rem;
}

.home-title span {
    color: var(--red-color);
}

.home .container .left .home-type {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
}

.home-description {
    color: var(--gray-text);
    margin-top: 2rem;
    line-height: 1.7;
}

.home .social-media {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 150px;
}

.home .social-media p {
    color: var(--gray-text);
    margin-bottom: 1.2rem;
    text-transform: uppercase;
    font-size: .9rem;
}

.home .social-media .icons {
    display: flex;
    gap: 20px;
}

.home .social-media .left .icons i {
    width: 40px;
    height: 40px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: 5px;
    color: var(--gray-text);
    font-size: 21px;
    cursor: pointer;
}

.home .social-media .right .icons img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: 5px;
}

.home .container .right img {
    width: 100%;
    scale: .8;
    object-fit: cover;
}

/* ============ Features ============ */
.features .fe-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.features .fe-items .item {
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
}

.features .fe-items .item i {
    color: var(--red-color);
    font-size: 2.5rem;
}

.features .fe-items .item h5 {
    color: var(--gray-text);
    margin-block: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.features .fe-items .item p {
    font-size: .9rem;
    color: var(--gray-text);
}

/* =========== Portfolio ============ */
.section-title {
    text-align: center;
}

.port-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.port-items .item {
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    border-radius: 1rem;
}

.port-items .item .img-box {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: .9rem;
    overflow: hidden;
}

.port-items .item img {
    width: 100%;
    height: auto;
}

.port-items .item .content .top {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: .7rem;
    color: var(--gray-text);
}

.port-items .item .content .top span.text {
    color: var(--red-color);
    text-transform: uppercase;
}

.port-items .item .content h5 {
    font-size: 1.2rem;
    color: var(--gray-text);
    font-weight: 500;
    margin-top: 1rem;
}

/* ============= Resume ============= */
.resume .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.resume .filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    gap: 1rem;
    margin-bottom: 3rem;
}

.resume .filter .resume-filter {
    padding: 1.3rem 3rem;
    border-radius: 1rem;
    cursor: pointer;
    color: #fff;
    transition: .3s;
    font-size: .9rem;
}

.resume .filter .resume-filter:hover,
.resume .filter .resume-filter.active {
    box-shadow: var(--box-shadow);
    color: var(--red-color);
}

.resume-item {
    display: flex;
    gap: 2.5rem;
}

.resume-item .left .items,
.resume-item .right .items {
    border-left: 3px solid #151619;
    padding-left: 2rem;
}

.resume-item .title {
    margin-bottom: 3rem;
}

.resume-item .title span {
    font-size: .8rem;
    color: var(--red-color);
}

.resume-item .title h3 {
    font-size: 1.5rem;
    color: var(--gray-text);
}

.resume-item .item {
    position: relative;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    margin-bottom: 1rem;
}

.resume-item .item::before {
    content: '';
    position: absolute;
    left: -40px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--bg-body);
    border: 2px solid #151619;
}

.resume-item .item::after {
    content: '';
    position: absolute;
    left: -26px;
    top: 38px;
    width: 26px;
    height: 3px;
    background-color: #151619;
}

.resume-item .item .top {
    padding-bottom: 2rem;
    border-bottom: 2px solid #1c1e22;
}

.resume-item .item .top h5 {
    color: var(--gray-text);
    font-size: 1.1rem;
    font-weight: 500;
}

.resume-item .item .top div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume-item .item .top div span {
    color: #626872;
    font-size: .7rem;
}

.resume-item .item .top div span.number {
    box-shadow: var(--box-shadow);
    padding: .4rem;
    color: var(--red-color);
    border-radius: .3rem;
}

.resume-item .item p {
    margin-top: 1rem;
    font-size: .8rem;
    color: #626872;
}

.resume-item .professional-skills,
.resume-item .experience,
.resume-item .interview {
    display: none !important;
}

/* ============== Testimonial =========== */
.testimonial .items {
    width: 80%;
    height: 430px;
}

.testimonial .item {
    height: fit-content;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
}

.testimonial .item .left {
    width: 300px;
    height: 400px;
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    border-radius: 10px;
}

.testimonial .item .right {
    width: 500px;
}

.testimonial .item .left img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.testimonial .item .left span {
    font-size: .7rem;
    color: var(--red-color);
    text-transform: uppercase;
    margin-bottom: .6rem;
    display: block;
}

.testimonial .item .left h5 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gray-text);
}

.testimonial .item .left p {
    font-size: .8rem;
    color: #606369;
}

.testimonial .item .right {
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    border-radius: 10px;
}

.testimonial .item .right h5 {
    color: var(--gray-text);
    font-size: 1.1rem;
    font-weight: 500;
}

.testimonial .item .right .top {
    padding-bottom: 2rem;
    border-bottom: 2px solid #1c1e22;
}

.testimonial .item .right .top .group {
    display: flex;
    justify-content: space-between;
}

.testimonial .item .right .top .group span {
    font-size: .8rem;
    color: #606369;
    margin-top: .5rem;
}

.testimonial .item .right .top .group .stars {
    box-shadow: var(--box-shadow);
    padding: .3rem .7rem;
    display: flex;
    align-items: center;
    gap: .3rem;
}

.testimonial .item .right .top .group .stars i {
    color: gold;
    font-size: .6rem;
}

.testimonial .item .right p {
    margin-top: 1rem;
    font-size: .8rem;
    color: #606369;
}

.swiper-button-prev,
.swiper-button-next {
    box-shadow: var(--box-shadow);
    color: #fff !important;
    width: 50px !important;
    height: 50px !important;
    top: 40px !important;
    left: 80% !important;
}

.swiper-button-next {
    left: 87% !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1rem !important;
}

/* =============== Clients ============= */
.clients .content {
    display: flex;
    justify-content: space-between;
}

.clients .content .left {
    box-shadow: var(--box-shadow);
    width: 20%;
    height: fit-content;
    text-align: center;
    border-radius: .3rem;
}

.clients .content .left ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 1.5rem;
}

.clients .content .left ul li {
    padding-block: 1rem;
    font-size: .9rem;
    transition: .3s;
    color: #fff;
    border-radius: .3rem;
    cursor: pointer;
}

.clients .content .left ul li:hover,
.clients .content .left ul li.active {
    box-shadow: var(--box-shadow);
    color: var(--red-color);
}

.clients .content .right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    gap: 2rem;
}

.clients .content .right .item {
    box-shadow: var(--box-shadow);
    aspect-ratio: 1/1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: .3rem;
}

.clients .content .right .item div {
    width: 100%;
    height: 60%;
}

.clients .content .right img {
    width: 80%;
    height: auto;
    padding-top: 1rem;
}

.clients .content .right p {
    border-top: 2px solid #1c1e22;
    width: 100%;
    padding-top: 1rem;
    color: var(--gray-text);
}

/* ============= Pricing ============= */
.pricing .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pricing .filter {
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    width: 50%;
    border-radius: 1rem;
    margin-bottom: 4rem;
}

.pricing .filter span {
    padding: 1rem 2rem;
    transition: .3s;
    cursor: pointer;
    color: #fff;
}

.pricing .filter span:hover,
.pricing .filter span.acitve {
    color: var(--red-color);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
}

.pricing .content {
    max-width: 500px;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 1rem;
    margin-inline: .5rem;
}

.pricing .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pricing .content .top .left h5 {
    color: var(--gray-text);
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.pricing .content .top .left p {
    color: #606369;
    font-size: .8rem;
}

.pricing .content .top .right span {
    box-shadow: var(--box-shadow);
    color: var(--red-color);
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border-radius: .3rem;
}

.pricing .content p.text {
    color: #606369;
    font-size: .9rem;
    width: 90%;
    margin-block: 2rem;
}

.pricing .content .list {
    display: flex;
    justify-content: space-between;
}

.pricing .content .list ul li {
    color: var(--gray-text);
    font-size: .9rem;
    line-height: 3;
}

.pricing .content .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    columns: var(--red-color);
    box-shadow: var(--box-shadow);
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.pricing .content .down {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: #606369;
    font-size: .8rem;
}

.pricing .content .btn {
    color: var(--red-color);
}

.pricing .content .btn:hover {
    color: #fff;
}

/* =========== Blog ========= */
.blog .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 3rem;
}

.blog .content .item {
    height: 350px;
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    border-radius: 1rem;
}

.blog .content .item img {
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.blog .content .item div {
    display: flex;
    justify-content: space-between;
}

.blog .content .item div span:nth-child(1) {
    color: var(--red-color);
    font-size: .8rem;
    text-transform: uppercase;
}

.blog .content .item div span:nth-child(2) {
    font-size: .8rem;
    color: var(--gray-text);
}

.blog .content .item h5 {
    color: var(--gray-text);
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: .5rem;
}


/* =========== Contact ========= */
.contact .content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 2.5rem;
}

.contact .content .left {
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    padding: 1.5rem;
}

.contact .content .left img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.contact .content .left h5 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}

.contact .content .left p {
    color: #606369;
    font-size: .8rem;
}

.contact .content .left .description {
    margin-bottom: 1rem;
}

.contact .content .left p span {
    color: var(--gray-text);
}

.contact .social-text {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    margin-block: 1.3rem;
    display: block;
    color: #606369;
}

.contact .social-media {
    display: flex;
    gap: 1rem;
}

.contact .social-media i {
    border-radius: .3rem;
    color: var(--gray-text);
    box-shadow: var(--box-shadow);
    font-size: 1.2rem;
    padding: .6rem;
    cursor: pointer;
}

.contact .right {
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    padding: 1.5rem;
}

.contact .right form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact .right .group {
    display: flex;
    justify-content: space-between;
}

.contact .right input,
.contact .right textarea {
    border: none;
    outline: none;
    background-color: transparent;
    height: 40px;
    padding: .3rem;
    border-radius: .5rem;
    color: var(--gray-text);
    font-family: 'Poppins', sans-serif;
    box-shadow: 8px 8px 10px #181a1d,
        -3px -3px 10px #2a2e33;
}

.contact .right textarea {
    height: 150px;
    width: 100%;
}

.contact .right .group>div {
    width: 48%;
}

.contact .right .group>div input {
    width: 100%;
}

.contact .right label {
    display: block;
    font-size: .8rem;
    color: var(--gray-text);
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.contact .right input {
    width: 100%;
}

.contact .right form .btn {
    color: var(--red-color);
    box-shadow: 8px 8px 10px #181a1d,
        -3px -3px 10px #2a2e33;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

footer h4 {
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

footer p {
    color: #606369;
    font-size: .8rem;
}

/* ========== media query ============ */
@media screen and (max-width: 992px) {
    .container {
        max-width: 90%;
    }

    .nav-list {
        position: absolute;
        top: 0;
        right: -100%;
        width: 40%;
        height: 100vh;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .3);
        padding-left: 2rem;
        padding-top: 4rem;
        backdrop-filter: blur(5px);
        transition: .6s;
    }

    .nav-list.active-head {
        right: 0;
    }

    .nav-list .nav-item:hover {
        padding-left: 1rem;
        background-color: var(--bg-body);
    }

    .nav-list .nav-link {
        font-size: 1.2rem;
    }

    .nav-list .nav-link.btn {
        color: var(--gray-text);
        box-shadow: none;
        padding: 0;
    }

    .toggle-menu,
    .close-menu {
        display: block;
        cursor: pointer;
    }

    .close-menu {
        position: absolute;
        top: 15px;
        right: 45px;
        color: #fff;
        font-size: 3rem;
    }

    .toggle-menu {
        font-size: 2rem;
        color: #fff;
    }

    .home {
        height: fit-content;
    }

    .home .container {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .home .container .left {
        width: 100%;
        text-align: center;
    }

    .home .container .right {
        order: -1;
    }

    .home .social-media {
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .features .fe-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .port-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .resume-item {
        flex-direction: column;
    }

    .resume .filter {
        width: fit-content;
        justify-content: center;
    }

    .resume .filter span {
        font-size: .8rem;
        padding: 1rem 1.5rem;
    }

    .testimonial .items {
        height: fit-content;
        padding: 2rem;
    }

    .testimonial .item {
        flex-direction: column;
        align-items: center;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
        visibility: hidden !important;
    }

    .clients .content {
        flex-direction: column;
    }

    .clients .content .left {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        height: fit-content;
    }

    .clients .content .left ul {
        flex-direction: row;
        flex-wrap: wrap;
        width: 800px;
        gap: .5rem;
    }

    .clients .content .left ul li {
        padding-inline: 1rem;
    }

    .clients .content .right {
        width: 100%;
        justify-content: center;
    }

    .blog .content {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact .content {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 96%;
    }

    .section-title h1 {
        font-size: 2rem;
    }

    .nav-list {
        width: 80%;
    }

    .home .container {
        padding-bottom: 10rem;
    }

    .home .social-media {
        gap: 70px;
    }

    .home-title {
        font-size: 3rem;
    }

    .home .container .left .home-type {
        font-size: 2rem;
    }

    .home-description {
        font-size: .8rem;
    }

    .home .social-media .icons {
        gap: 10px;
    }

    .home .social-media .right .icons img {
        width: 45px;
        height: 45px;
    }

    .features .fe-items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .port-items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .testimonial .item .right {
        width: 400px !important;
    }

    .resume .filter {
        padding: 1rem;
    }

    .clients .content .right {
        gap: 1rem;
    }

    .clients .content .left {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .clients .content .left ul {
        justify-content: center;
        gap: .5rem;
        flex-wrap: wrap;
        padding: 1rem;
    }

    .clients .content .left ul li {
        font-size: .8rem;
    }

    .pricing .filter {
        width: fit-content;
    }

    .pricing .content {
        padding: 1rem;
    }

    .blog .content {
        grid-template-columns: 1fr;
    }

}